parameters:
    level: 5

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false

includes:
	- /src/phpstan-baseline.neon
