includes:
	- /src/phpstan.neon

parameters:
    level: 5

#    autoload_files:
#        - /src/public/autoload.php

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false